*.rds filter=lfs diff=lfs merge=lfs -text
Datos/Processed/GEIH_base_modelo_personas_2008_2025.dta filter=lfs diff=lfs merge=lfs -text
Datos/Processed/GEIH_base_modelo_celdas_2008_2025.dta filter=lfs diff=lfs merge=lfs -text
